<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- 引入vue -->
    <script type="text/javascript" src="H:\VUE\练习\vue\vue.js"></script>
    <title>1.14-姓名案例_计算属性语法实现</title>
</head>

<body>
    <!-- 
            计算属性总结：
                1.定义：要用的属性不存在，要通过已有的属性计算得来
                2.原理：底层借助了Object.definePerporty方法提供的getter和setter
                3.get函数什么时候执行？
                        （1）.初次读取时会执行一次
                        （2）.当依赖的数据发生变化时会被再次利用
                4.优势：与methods相比，内部有缓存的机制（复用），效率更高，调试方便
                5.备注：
                        1.计算属性最终会出现在vm上，直接读取即可
                        2.如果计算属性要被修改，那么必须要写set函数去响应修改，且set中要引起计算机时依赖的数据发生改变
 -->

    <!-- 准备好一个容器 -->
    <div id="root">
        姓:<input type="text" v-model="firstname"> <br/><br/> 名:
        <input type="text" v-model="lastname"> <br/><br/> 全名: <span>{{fullname}}</span><br/><br/>
        <!-- 以下fullname会从缓存读取 -->
        全名: <span>{{fullname}}</span><br/><br/>


    </div>
    <script type="text/javascript">
        Vue.config.productionTip = false //阻止 vue 在启动时生成生产提示

        const vm = new Vue({
            el: '#root',
            data: {
                firstname: '张',
                lastname: '三'
            },
            computed: {
                fullname: {
                    //get有什么作用？当有人读取fvalueullname的时候，get就会被调用，且返回值就作为fullname的值
                    //get什么时候会被调用？1.初次读取fullname时。 2.所以依赖的数据发生变化时
                    get() {
                        return this.firstname + '-' + this.lastname //this指向vm
                    },
                    //set什么时候调用？ 当fullname被修改时   (set仅在需要修改时需要)
                    set(value) {
                        console.log('set', value);
                        const arr = value.split('-')
                        this.firstname = arr[0]
                        this.lastname = arr[1]
                    }
                }
            }
        })
    </script>
</body>

</html>